* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*-------------------header-section--------------------------------*/
#container {
    height: 100vh;
    background-color: rgb(16, 16, 17);

}


.heading {
    color: white;
    padding: 30px;
    font-family: "poppin";
    font-weight: bold;
}


#input {
    width: 80%;
    margin-left: 40px;


}

/*----------------------header-section-end-------------------------*/

/*------------------------main-section-start----------------------------*/

#ul {
    list-style: none;
    color: rgb(245, 243, 243);

}

#ul li {
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin-left: 10px;
    margin-top: 30px;
    border-bottom: 1px solid rgb(239, 237, 237);
}

i {
    font-size: 20px;
    cursor: pointer;
    margin-left: 25px;

}

i:hover {
    color: rgb(141, 140, 139);

}

/*---------------------main-section-end-----------------------*/


/*-----------------------------mediaQueries -start---------------------*/


@media screen and (max-width:1024px) {

    #ul li {

        width: 95%;

    }

}

@media screen and (max-width: 912px) {
    #ul li {

        width: 95%;

    }

}


@media screen and (max-width: 820px) {
    #input {
        width: 70%;
        margin-left: 50px;
    }

    #ul li {
        width: 92%;
    }
}

@media screen and (max-width:540px) {


   


    #input {
        width: 60%;
        margin-left: 40px;
    }

}

@media screen and (max-width:430px) {


   


    #input {
        width: 50%;
    }

}


@media screen and (max-width:414px) {


   


    #input {
        width: 50%;

    }

}

@media screen and (max-width:360px) {


  

    #input {
        width: 50%;
        margin-left: 20px;

    }

    #ul li {
        width: 93%;
        margin-right: 10px;
    }

}

@media screen and (max-width:280px) {

   

    #input {
        width: 30%;
        padding: 10px;


    }

    #ul li {
        width: 93%;

    }

}

/*--------------------------mediaQueries-end------------------------------------*/